.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form {
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.button {
  padding: 10px 25px;
  font-size: 80%;
  border-radius: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  outline: none;
  cursor: pointer;
  background: transparent;
  transition: all 300ms ease-out;
  width: fit-content;
  border: 2px solid grey;
  align-self: flex-end;

  &:hover, &:focus {
    background-color: rgb(42, 45, 53);
    border: 2px solid #7289da;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
}